<button
  (click)="handleClick()"
  [class]="(isDarkTheme$ | async) 
    ? 'card-play-button rounded-full text-white bg-green-500 p-4 hover:scale-105 transition-all duration-200 hover:bg-green-400 shadow-lg' 
    : 'card-play-button rounded-full text-white bg-green-600 p-4 hover:scale-105 transition-all duration-200 hover:bg-green-500 shadow-lg'"
>
  @if (isPlayingPlaylist) {
    <mat-icon [class]="iconClassName">pause</mat-icon>
  } @else {
    <mat-icon [class]="iconClassName">play_arrow</mat-icon>
  }
</button>
