<nav class="flex flex-col flex-1 gap-4 p-4">
  <div class="bg-white backdrop-blur-sm rounded-xl p-4 border border-black/10 shadow-md">
    <ul class="space-y-2">
      <app-side-menu-item [href]="'/home'">
        <mat-icon>home</mat-icon>
        Inicio
      </app-side-menu-item>

      <app-side-menu-item [href]="'/search'">
        <mat-icon>search</mat-icon>
        Buscar
      </app-side-menu-item>

      <app-side-menu-item [href]="'/subscription-plans'">
        <mat-icon>subscriptions</mat-icon>
        Suscripciones
      </app-side-menu-item>

      @if (user()) {
      <app-side-menu-item [href]="'/profile'">
        <mat-icon>person</mat-icon>
        Mi Perfil
      </app-side-menu-item>

      <app-side-menu-item  [href]="'#'" (click)="logout()" (keydown)="onLogoutKeyDown($event)">
        <mat-icon>logout</mat-icon>
        Cerrar Sesión
      </app-side-menu-item>
      } @else {
      <app-side-menu-item [href]="ROUTES_CONFIG_AUTH.LOGIN.link">
        <mat-icon>login</mat-icon>
        Iniciar Sesión
      </app-side-menu-item>
      <app-side-menu-item [href]="ROUTES_CONFIG_AUTH.REGISTER.link">
        <mat-icon>person_add</mat-icon>
        Registrarse
      </app-side-menu-item>
      }
    </ul>

    <div class="flex items-center justify-between mb-4 hover:bg-black/5 transition-colors duration-300">
      <a [routerLink]="['/library']"
        class="text-black font-semibold flex items-center gap-2 mt-4 mb-2 hover:bg-black/5 transition-colors duration-300 cursor-pointer">
        <mat-icon>library_music</mat-icon>
        Tu Biblioteca
      </a>
      <button class="text-black hover:text-black transition-colors mt-4 mb-2">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="space-y-2 text-black-300">
      @for (playlist of playlists; track playlist.id) {
      <app-side-menu-card [playlist]="playlist" />
      }
    </div>
  </div>
</nav>