<ul>
  <button
    (click)="navigateToPlaylist()"
    class="playlist-item flex gap-2 text-base hover-text-accent items-center py-2 px-5 font-normal transition-colors w-full text-left"
  >
    <picture class="h-12 w-12 flex-none">
      <img
        [src]="playlist.cover"
        [alt]="'Cover of ' + playlist.name"
        class="object-cover w-full h-full rounded bg-border"
        (error)="onImageError($event)"
      />
    </picture>
    <div class="flex flex-auto flex-col truncate text-base">
      <h4 class="text-base font-bold">{{ playlist.name }}</h4>
      <span class="text-xs text-subdued">{{
        "PLAYLIST.TYPE" | translate
      }}</span>
    </div>
  </button>
</ul>
