<div class="flex items-center gap-4">
  <!-- Previous Button -->
  <button
    (click)="onPreviousClick()"
    class="text-base hover-text-accent transition-colors"
  >
    <mat-icon>skip_previous</mat-icon>
  </button>

  <!-- Play/Pause Button -->
  <button
    (click)="onPlayPauseClick()"
    class="bg-accent text-white rounded-full p-2 hover:scale-105 hover:brightness-110 transition-all shadow-lg"
  >
    @if (isPlaying) {
      <mat-icon>pause</mat-icon>
    } @else {
      <mat-icon>play_arrow</mat-icon>
    }
  </button>

  <!-- Next Button -->
  <button
    (click)="onNextClick()"
    class="text-base hover-text-accent transition-colors"
  >
    <mat-icon>skip_next</mat-icon>
  </button>
</div>
