<nav class="flex flex-col flex-1 gap-4 p-4">
  <div
    class="bg-white backdrop-blur-sm rounded-xl p-4 border border-black/10 shadow-md"
  >
    <ul class="space-y-2">
      <app-side-menu-item [href]="'/home'">
        <mat-icon>home</mat-icon>
        {{ "SIDEBAR.HOME" | translate }}
      </app-side-menu-item>

      <app-side-menu-item [href]="'/search'">
        <mat-icon>search</mat-icon>
        {{ "SIDEBAR.SEARCH" | translate }}
      </app-side-menu-item>

      <app-side-menu-item [href]="'/subscription-plans'">
        <mat-icon>subscriptions</mat-icon>
        {{ "SIDEBAR.SUBSCRIPTIONS" | translate }}
      </app-side-menu-item>

      @if (user()) {
        <app-side-menu-item [href]="'/profile'">
          <mat-icon>person</mat-icon>
          {{ "SIDEBAR.PROFILE" | translate }}
        </app-side-menu-item>

        <app-side-menu-item
          [href]="'#'"
          (click)="logout()"
          (keydown)="onLogoutKeyDown($event)"
        >
          <mat-icon>logout</mat-icon>
          {{ "SIDEBAR.LOGOUT" | translate }}
        </app-side-menu-item>
      } @else {
        <app-side-menu-item [href]="ROUTES_CONFIG_AUTH.LOGIN.link">
          <mat-icon>login</mat-icon>
          {{ "SIDEBAR.LOGIN" | translate }}
        </app-side-menu-item>
        <app-side-menu-item [href]="ROUTES_CONFIG_AUTH.REGISTER.link">
          <mat-icon>person_add</mat-icon>
          {{ "SIDEBAR.REGISTER" | translate }}
        </app-side-menu-item>
      }
    </ul>

    <div
      class="flex items-center justify-between mb-4 hover:bg-black/5 transition-colors duration-300"
    >
      <a
        [routerLink]="ROUTES_CONFIG_MUSIC.LIBRARY.link"
        class="text-black font-semibold flex items-center gap-2 mt-4 mb-2 hover:bg-black/5 transition-colors duration-300 cursor-pointer"
      >
        <mat-icon>library_music</mat-icon>
        {{ "SIDEBAR.LIBRARY" | translate }}
      </a>
      <button class="text-black hover:text-black transition-colors mt-4 mb-2">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <!-- Language Selector -->
    <div class="language-selector">
      <h4>{{ "SIDEBAR.LANGUAGE" | translate }}</h4>
      <div class="language-buttons">
        @for (lang of getAvailableLanguages() | async; track lang.code) {
          <button
            (click)="changeLanguage(lang.code)"
            class="language-button"
            [class.active]="(getCurrentLanguage() | async) === lang.code"
            [class.inactive]="(getCurrentLanguage() | async) !== lang.code"
          >
            {{ lang.name }}
          </button>
        }
      </div>
    </div>

    <div class="space-y-2">
      @for (playlist of playlists; track playlist.id) {
        <app-side-menu-card [playlist]="playlist" />
      }
    </div>
  </div>
</nav>
